{% extends 'base.html' %}
{% block content %}
<div style="font-family: 빙그레 메로나체; overflow-x:auto;" class="container mt-3 mb-3">
    <div>
        <div class="item" id="content" class="border-top border-secondary">
            <div>
                <div class="title border-bottom p-2 mb-2">교인 현황</div>

<!--                등록, 검색 아이콘 -->
                <div class="row justify-content-between mb-4">
                    <div class="col-6">
                        <div class="btn-group" role="group">
                            <button type="button" onclick="location.href='{{ url_for('auth.add')}} '" title="등록"
                                    class="btn btn-sm btn-secondary so active">
                                <i class="item fas fa-cross"></i></button>
                        </div>
                    </div>

<!--                    <div class="col-6 input-group input-group-sm">-->
<!--                        <input type="text" class="form-control form-control-sm kw" value=""-->
<!--                               onkeypress="return search(event)">-->
<!--                        <div class="input-group-append">-->
<!--                            <button class="btn btn-secondary" type="button" id="btn_search">-->
<!--                                <i class="fas fa-search"></i></button>-->
<!--                            </button>-->
<!--                        </div>-->
<!--                    </div>-->
                </div>

<!--                등록된 교인 리스트-->
                <div align="center" class="table-responsive">
                    <table class="tbClass table table-striped table-hover">
                        <thead align="center">
                        <tr class="table-secondary text-dark">
                            <th>번호</th>
                            <th>이름</th>
                            <th>나이</th>
                            <th>성별</th>
                            <th>핸드폰번호</th>
                            <th>주소</th>
                            <th>작성일</th>
                        </tr>
                        </thead>

                        <tbody align="center">
                        {% if member_list %}
                        {% for member in member_list %}
                        <tr>
                            <td> {{ loop.index }}</td>
                            <td><a href="{{ url_for('member.detail', member_id=member.id)}}">{{ member.name }}</a></td>
                            <td> {{ member.age }}</td>
                            <td> {{ member.sex }}</td>
                            <td> {{ member.contact1 }}</td>
                            <td> {{ member.address }}</td>
                            <td> {{ member.create_date }}</td>
                        </tr>
                        {% endfor %}
                        {% else %}
                        <tr>
                            <td colspan="3">등록된 교인이 없습니다.</td>
                        </tr>
                        {% endif %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

</div>
{% endblock %}
