{% extends "base.html" %}
{% block content %}

<div class="container mt-3 mb-3 p-1;">
    <form method="post" class="post-form">
        {{ form.csrf_token }}
        {% include "form_errors.html" %}

        <div style="font-family: 빙그레 메로나체" align="center">
            <!--            <div class="col-sm-12 col-md-12 col-lg-12 mb-1">-->
            <div>
                <div style="overflow-x:auto;" id="content" class="border-top border-secondary">
                    <div class="content_block">
                        <h4 class="border-bottom p-2" align="center">현재 <b>{{ g.user.username }}</b>님께서 <b>{{
                            member.name}}</b>님을 조회중입니다.</h4>

                        <!--                        성도님의 사진이 들어가는 자리-->
                        <div class="square" align="center">
                            <img src="/static/pigeon.png">
                        </div>

                        <div class="mt-1" style="border: 1px solid skyblue;">

                            <table class="tbClass" style="border-collapse: separate; border-spacing: 6px;">

                                <tr>
                                    <td colspan="2"> 이름 : {{ member.name }}</td>
                                    <td colspan="2"> 나이 : {{ member.age }}</td>
                                    <td colspan="2"> 성별 : {{ member.sex }}</td>
                                    <td colspan="2"> 생년월일 : {{ member.birthday }}</td>
                                </tr>

                                <tr>
                                    {% if member.email %}
                                    <td colspan="4"> email : {{ member.email }}</td>
                                    {% endif %}

                                </tr>

                                <tr>
                                    {% if member.contact1 %}
                                    <td colspan="2"> 연락처 : {{ member.contact1 }}</td>
                                    {% endif %}

                                    {% if member.contact2 %}
                                    <td colspan="2"> 연락처2 : {{ member.contact2 }}</td>
                                    {% endif %}

                                    {% if member.contact3 %}
                                    <td colspan="2"> 연락처3 : {{ member.contact3 }}</td>
                                    {% endif %}
                                </tr>

                                <tr>
                                    {% if member.address %}
                                    <td colspan="4"> 주소 : {{ member.address }}</td>
                                    {% endif %}
                                </tr>

                                <tr>
                                    {% if member.job %}
                                    <td colspan="2"> 직업 : {{ member.job }}</td>
                                    {% endif %}

                                    {% if member.baptism %}
                                    <td colspan="2"> 침례여부 : {{ member.baptism }}</td>
                                    {% endif %}

                                    {% if member.marriage %}
                                    <td colspan="2"> 결혼여부 : {{ member.marriage }}</td>
                                    {% endif %}
                                </tr>


                                {% if member.prevChurch %}
                                <tr>
                                    <td colspan="3"> 이전 교회 : {{ member.prevChurch }}</td>
                                </tr>
                                {% endif %}
                            </table>
                        </div>

                        <div align="left">
                            <label class="p-1 mt-1"> 작성일자 : {{
                                member.create_date.now().date()}} </label>

                            {% if member.modify_date %}
                            <label class="p-1 mt-1"> 수정일자 : {{ member.modify_date.date()}} </label>
                            {% endif %}
                        </div>
                        <div align="center">
                            <button type="button" class="btn btn-primary"
                                    onClick="this.style.visibility='hidden'; location.href='{{ url_for('member.modify', member_id=member.id) }}'">
                                수정하기
                            </button>
                            <button type="button" class="delete btn btn-danger"
                                    data-uri="{{ url_for('member.delete', member_id=member.id) }}">삭제
                            </button>
                            <button type="button" class="btn btn-primary"
                                    onClick="this.style.visibility='hidden'; location.href='{{ url_for('member._list') }}'">
                                뒤로
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
{% endblock %}

{% block script %}
<script type='text/javascript'>
$(document).ready(function(){
    $(".delete").on('click', function() {
        if(confirm("정말로 삭제하시겠습니까?")) {
            location.href = $(this).data('uri');
        }
    });
});

</script>
{% endblock %}