{% extends 'base.html' %}
{% block content %}
<div class="container mt-3 mb-3 p-1">
    <div class="row">
        <div class="col-sm-10 col-md-3 col-lg-2 mb-1">
            <!-- Sidebar -->
            <nav id="sidebar" class="border-top border-secondary">
                <div class="list-group">
                    <a class="rounded-0 list-group-item list-group-item-action list-group-item-light active"
                       href="#">교인 현황</a>
<!--                    <a class="rounded-0 list-group-item list-group-item-action list-group-item-light "-->
<!--                       href="#">자유게시판</a>-->
<!--                    <a class="rounded-0 list-group-item list-group-item-action list-group-item-light "-->
<!--                       href="#">팁과강좌</a>-->
<!--                    <a class="rounded-0 list-group-item list-group-item-action list-group-item-light "-->
<!--                       href="#">파이썬퀴즈</a>-->
                </div>
            </nav>
        </div>

        <div class="col-sm-10 col-md-11 col-lg-10 mb-1">
            <div id="content" class="border-top border-secondary">
                <div class="content_block">
                    <h4 class="border-bottom p-2">교인 현황</h4>
                    <div class="row justify-content-between mb-3">
                        <div class="col-6">
                            <div class="btn-group" role="group">
                                <button type="button" onclick="location.href='{{ url_for('auth.add')}} '" title="등록" class="btn btn-sm btn-secondary so active">
                                    <i class="fas fa-cross"></i></button>
<!--                                <button type="button" title="추천순" class="btn btn-sm btn-secondary so " data-so="recommend">-->
<!--                                    <i class="fas fa-thumbs-up"></i></button>-->
<!--                                <button type="button" title="인기순" class="btn btn-sm btn-secondary so " data-so="popular"><i-->
<!--                                        class="fas fa-fire"></i></button>-->

                            </div>
                        </div>
                        <div class="col-6 input-group input-group-sm">
                            <input type="text" class="form-control form-control-sm kw" value=""
                                   onkeypress="return search(event)">
                            <div class="input-group-append">
                                <button class="btn btn-secondary" type="button" id="btn_search">
                                    <i class="fas fa-search"></i></button>
                                </button>
                            </div>
                        </div>
                    </div>

                    <div class="table-responsive">
                        <table class="table table-striped table-hover">

                            <thead>
                            <tr class="table-secondary text-dark">
                                <th>번호</th>
                                <th>이름</th>
                                <th>나이</th>
                                <th>성별</th>
                                <th>핸드폰번호</th>
                                <th>주소</th>
                                <th>작성일</th>
                            </tr>
                            </thead>

                            <tbody>
                            {% if member_list %}
                            {% for member in member_list %}
                            <tr>
                                <td> {{ loop.index }}</td>
                                <td><a href="{{ url_for('member.detail', member_id=member.id)}}">{{ member.name }}</a></td>
                                <td> {{ member.age }}</td>
                                <td> {{ member.sex }}</td>
                                <td> {{ member.contact1 }}</td>
                                <td> {{ member.address }}</td>
                                <td> {{ member.create_date }}</td>
                            </tr>
                            {% endfor %}
                            {% else %}
                            <tr>
                                <td colspan="3">등록된 교인이 없습니다.</td>
                            </tr>
                            {% endif %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
